# Ignore system + runtime files
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pkl
.env
*.log
.DS_Store

# Jupyter auto files
*.nbconvert.ipynb

# VSCode or PyCharm
.vscode/
.idea/

# Conda env
env/
*.yml

# Data files
data/
